[2019-03-06 03:15] Tato14 opened #1 "Run the code on CPUs"
Hi! Nice work! I would like to know if I could try your code in a cluster without GPUs. Is there any parameter that I should change? Thanks!

[2019-03-07 01:42] jasonwei20 commented on #1
Although I highly recommend using GPU, you can run code in this repository in exactly the same way with CPU, without any parameter changes.

[2019-03-08 08:58] Daisy5566 opened #2 "Datasets request"
Hi~I've read your paper, I'm really interested in classification of histologic patterns in lung adenocarcinoma,
 I'm wondering if you could share the anonymized version of this dataset. Thanks a lot.

[2019-03-08 12:34] saeedhassanpour commented on #2
We are working on it.

[2019-03-08 12:34] #2 closed

[2019-03-10 22:25] jlevy44 opened #3 "Single Layer TIF format"
What would you recommend for splitting up single layer TIF file into multiple jpeg tiles? I'm trying to run your preprocessing script, but am getting:

openslide.OpenSlide('X.tif')
Traceback (most recent call last):
...
openslide.lowlevel.OpenSlideUnsupportedFormatError: Unsupported or missing image file

I read somewhere that this command would still work for multilayer TIFs.

Thanks!

[2019-03-10 23:52] jlevy44 commented on #3
Nevermind, I think I have my workaround: convert X.tif -define tiff:tile-geometry=256x256 -compress jpeg 'ptif:o.tif' . Feel free to critique.

[2019-03-10 23:52] #3 closed

[2019-04-09 09:28] Tato14 opened #4 "Use pre-trained ResNet with frozen layers"
Hi!
As transfer learning seem to be quite a big issue on these days, I was wondering if you tried to train ResNet 18 using ImageNet pretrained model but freezing all the layers except the last one.

Also, I found the documentenation in PyTorch [here](https://pytorch.org/tutorials/beginner/transfer_learning_tutorial.html#convnet-as-fixed-feature-extractor) but I am not sure where should I implement

[2019-04-09 10:13] Tato14 commented on #4
Also, it would be great if you could share the weights of your ResNet 18 (and 34?) to give them a try as a pretrained model.

[2019-04-09 12:50] Tato14 opened #5 "Attention based classification in ResNet18"
Sorry for the spam, I am now digging a little bit more in your code.
I realize, your code does not implement the attention based method that you published previously. Instead, it used sliding window approach, right?

I was wondering if you tried to add an attention based pooling layer in the ResNet arquitecture.
Thanks!

[2019-04-10 16:24] jasonwei20 commented on #5
Feel free to read about the attention-based model here: [https://arxiv.org/abs/1811.08513](https://arxiv.org/abs/1811.08513). But we don't have this code available yet unfortunately.

[2019-04-10 16:24] #5 closed

[2019-04-11 07:10] Tato14 opened #6 "Data preprocessing problem"
![issue](https://user-images.githubusercontent.com/33808607/55937476-5d512100-5c39-11e9-8b9c-5aaf583964e0.png)

Hi,

I am having troubles with the preprocessing split/merge scripts. As you see in the attached image, the jpg tiles are not merged properly. All the images that I checked behave similarly. May be some problem in the 3_repiece_jpg_tiles.py?

Thanks

[2019-04-13 20:19] jasonwei20 commented on #6
It is hard for me to see where the error occurred based on this screenshot, as I can't match every tile in the right image to the tile in the left.

[2019-04-15 02:13] tianmaliuixing opened #7 "Data acquisition help"
Hi,
   I am a graduate student interested in pathology. I wrote an email to “aeed.Hassanpour@dartmouth.edu” for anonymous data， but there was no reply. Can you tell me where I can get the data used in the paper？

Thanks.

[2019-04-16 22:18] jasonwei20 commented on #7
The data is not available yet but we'll let you know when it is.

[2019-04-16 22:18] #7 closed

[2019-04-16 22:18] #1 closed

[2019-04-21 03:16] jlevy44 opened #8 "Parallelize and pipeline preprocessing scripts"
Hey there! Awesome package. I was thinking that for some researchers with access to a large amount of slides, some of the tiling / patch creation will take a while if done in series. Just tiling ~150 slides may take a few days, and adding patches even more; preprocessing on the order of one week just for splitting the images is a bit extreme. I recommend adding the option to parallelize most of th

[2019-04-21 03:59] jlevy44 commented on #8
It's probably more on the order of half a week, but this seems that it should be a process that should take a few hours at the most.

[2019-04-23 06:13] Daisy5566 opened #9 "issue about all_wsi"
Hi~Would you tell about the structure of the all_wsi or give an example? I am confused about the input data. Thanks a lot

[2019-04-24 03:31] jasonwei20 commented on #9
all_wsi must contain subfolders of images labeled by class. For example, if your two classes are 'a' and 'n', you must have a/*.jpg with the images in class a and n/*.jpg with images in class n. I had this in comments in config.py, but now I just added it to the readme to make it more clear. Thanks for the issue!

[2019-04-24 03:31] #9 closed

[2019-04-24 03:35] jasonwei20 commented on #8
Joshua, that's a great suggestion. I will say that for me, tiling 100 slides takes on the order of ten minutes. If you're running this code for days, it seems to me like (1) your images are too high resolution or (2) you're overlapping windows way too much. I feel like if your code is continuously generating patches for a few days, your server will probably run out of space...

[2019-04-24 19:07] jlevy44 commented on #8
Yeah, seems like patch generation was pretty fast though.

Slides were a few Gb each before tiling. Tiles were substantially smaller and easier to process.

Still would be a nice PR, workflow automation. Well appreciated by many.

[2019-05-03 15:53] jlevy44 opened #10 "Recover Original SVS Coordinates from Patches"
Hey there, if I wanted to recover the original SVS coordinates for each patch, would this be the right way to go about it? I don't think I've been recovering the right coordinates.

xc and yc are the original compression factors, xl and yl is the length of one of the jpg tiles before patches, xi and yi are the coordinates with respect to each tile, nx and ny are the number of tiles in each directi

[2019-05-04 03:38] jlevy44 commented on #10
Actually, I think if you switch xi and yi, these functions work.

[2019-05-04 03:38] #10 closed

[2019-06-08 09:17] cx781086481 opened #11 "A problem for input"
Hello! I'm a new learner for this. I have a question for the input in this resnet and what's your input in the net. Now  I have 1070 .svs folders which contain many patches(for example 1_1.tiff),how should I change my folder and patch to adapt to your net. Thanks for your reply.

[2019-06-11 20:38] jasonwei20 commented on #11
So the input for the model training is `train_folder`. It's structured like this (see `config.py`):

[code]

If your classes are `pos` and `neg`, then `train_folder/train` should have a folder `pos` with patches of positive examples and a folder `neg` with patches negative examples. Your patches should be `png` or `jpg` or something like that, probably not `svs` or `tiff`.

[2019-06-11 20:38] #11 closed

[2019-07-22 07:52] jennie106 opened #13 "the rest of patches"
there must be some patches that are not one of the five subtypes in a whole-slide image, how to deal with these patches??

[2019-08-21 01:48] jasonwei20 commented on #13
Create another class (like normal, benign, or inflammation). There doesn't have to be any WSI with the labels of the new class.

[2019-08-21 01:48] #13 closed

[2019-08-21 01:49] jasonwei20 commented on #8
There's this really smart PhD student at Dartmouth, good guy and lifts a lot of weight. He made something called PathFlowAI to address this, feel free to look into it: https://pypi.org/project/pathflowai/ .

[2019-08-21 01:49] #8 closed

[2019-08-21 01:50] #6 closed

[2019-08-21 03:04] jlevy44 commented on #8
Never heard of it before. I'll have to check it out. Thanks @jasonwei20 ! Also found this during the search: https://github.com/jlevy44/PathFlowAI

;)

Cheers!

[2019-11-12 17:05] mbluestone opened #15 "Extra JPG tile creation when width/height of SVS divisible by window size"
I ran into an error while creating JPG tiles from one of my SVS images in `2_svs_to_jpg_tiles.py`. One dimension of my image is divisible by the window size for the JPG tile output, so the code was trying to create an extra tile with nothing in it (e.g. begin_x = 20000 and end_x = 20000).

The error seems to stem from these lines in the code, where the number of x and y increments are found:

[cod

[2019-11-17 23:02] jasonwei20 commented on #15
Hey Michael,

Seems like you're right. Can you make this change in a PR?

Jason

[2019-11-29 06:51] Klunio opened #16 "About anonymized version of this dataset"
Hi, your work is perfect and I'm really interested in it! I'm recently working on lung cancer histopathology image classification but haven't got enough images now. I am wondering if there is an access to get the anonymized version of this dataset. That would help a lot.

[2019-12-02 23:19] jasonwei20 commented on #16
#2

You can try one of the datasets here: https://grand-challenge.org/challenges/

[2019-12-02 23:19] #16 closed

[2019-12-11 17:38] Shawnmhy opened #19 "Create subfolders in 'all_wsi'"
Hi Wei,

I am a little bit confused about the input for '1_split.py'.

In the script you mentioned that all_wsi needs to include subfolders of images labeled by class. What do you mean by 'class' here? do you mean training, testing or validation?

And as for the image format, I assume it should .svs not .jpg, right?

[2019-12-12 19:22] jasonwei20 commented on #19
Class means cancerous, non-cancerous, etc, not training/validation/test.

You need to convert your images to jpg, as svs is not accepted. You can use this to convert: https://github.com/BMIRDS/deepslide/blob/master/code/z_preprocessing/2_svs_to_jpg_tiles.py

[2019-12-12 19:23] #19 closed

[2019-12-24 07:53] Muralidare opened #20 "NameError:"
when i run 2_process_patches.py, the error is NameError: name 'config' is not defined

[2019-12-24 08:58] jasonwei20 commented on #20
@JosephDiPalma

[2019-12-24 15:50] JosephDiPalma commented on #20
@Muralidare I just tested `2_process_patches.py` and did not have the error.  How are you running it?  Are you using the `run_all.sh` script or `python 2_process_patches.py`?

[2019-12-25 08:29] Muralidare commented on #20
when i run 2_process_patches.py,  i got error like this  ValueError: max() arg is an empty sequence

[2019-12-25 08:30] Muralidare commented on #20
what are all the folders i should create? and which folder should have input images? please guide me to solve this issue

[2019-12-25 08:38] Muralidare commented on #20
when i run 1_split.py, its shows

###############     CONFIGURATION     ###############
all_wsi:        all_wsi
val_wsi_per_class:      20
test_wsi_per_class:     30
keep_orig_copy: True
num_workers:    8
patch_size:     224
wsi_train:      wsi_train
wsi_val:        wsi_val
wsi_test:       wsi_test
labels_train:   labels_train.csv
labels_val:     labels_val.csv
labels_test:    labels_test.csv
trai

[2019-12-25 08:38] Muralidare commented on #20
did i miss something?

[2019-12-25 15:12] JosephDiPalma commented on #20
@Muralidare

Which line does this error occur in?

The `code` directory should contain a folder called `all_wsi` containing the WSIs split by class. If you have classes `X`, `Y`, and `Z`, then `all_wsi` should have subfolders named `X`, `Y`, and `Z` containing the WSIs in either JPG or PNG format (other formats may work but were not tested).  I believe your current problem is that no WSIs are bein

[2019-12-27 08:08] Muralidare commented on #20
i created class1 and class2 folders in all_wsi folder with three .jpg files in both class folders. and it creates three folders in code directory called wsi_train, wsi_test, wsi_val. in that folders there are 2 folders class1 and class2 but all the folders are empty and i got error like :

![Screenshot from 2019-12-27 13-35-21](https://user-images.githubusercontent.com/40227353/71508500-0ca85380-2

[2019-12-27 17:40] JosephDiPalma commented on #20
If you only have 3 WSIs per class, you will need to change the `--val_wsi_per_class` and `--test_wsi_per_class` flags when running the file.  Since your have 3 files per class you could run the following command to split them `python 1_split.py --val_wsi_per_class 1 --test_wsi_per_class 1`.  Then `wsi_train`, `wsi_test`, and `wsi_val` will each contain 1 file per class.

[2019-12-28 12:54] Muralidare commented on #20
i run 3_train.py and then

"++++ Running 3_train.py +++++
3 classes: ['class1', 'class2', 'class3']
num train images 3626480
num val images 160
CUDA is_available: False
train_folder: train_folder
num_epochs: 20
num_layers: 18
learning_rate: 0.001
batch_size: 16
weight_decay: 0.0001
learning_rate_decay: 0.85
resume_checkpoint: False
resume_checkpoint_path (only if resume_checkpoint is true): checkp

[2019-12-28 16:42] Muralidare commented on #20
Finally i got this error

Traceback (most recent call last):
  File "3_train.py", line 28, in <module>
    weight_decay=config.args.weight_decay)
  File "/media/asus/new/deepslide-master(2)/deepslide-master/code/utils_model.py", line 498, in train_resnet
    num_classes=num_classes)
  File "/media/asus/new/deepslide-master(2)/deepslide-master/code/utils_model.py", line 257, in train_helper
    for

[2019-12-28 17:33] JosephDiPalma commented on #20
The code is probably running but since you are running it on a CPU it is very slow.  I would add in either some print statements or use a package like `tqdm` to display a progress bar.

I haven't seen this error before.  I would try to change the `--num_workers` flag when running `3_train.py`.  If that doesn't work, I would try to read in an image using PIL to make sure it is installed correctly.

[2019-12-30 08:51] Muralidare commented on #20
+++++ Running 3_train.py +++++
3 classes: ['X', 'Y', 'Z']
num train images 113968
num val images 2176
CUDA is_available: True
train_folder: train_folder
num_epochs: 20
num_layers: 18
learning_rate: 0.001
batch_size: 16
weight_decay: 0.0001
learning_rate_decay: 0.85
resume_checkpoint: False
resume_checkpoint_path (only if resume_checkpoint is true): checkpoints/xyz.pt
save_interval: 1
output in che

[2019-12-30 09:00] Muralidare commented on #20
i am using Jetson TX2 for this process. i gave 15 to 20 WSI as input in X,Y,Z folders in all_wsi. but it creates many wsi in train_folder/train. is there any limitation to adjust input wsi?

[2019-12-30 14:44] JosephDiPalma commented on #20
By this comment, do you mean how to generate fewer training patches?  If you want to generate fewer training patches, you should modify the `--overlap_factor` flag according to the guidelines listed in `config.py`.

[2019-12-31 13:22] Muralidare commented on #20
3_train.py started successfully with no errors but it still running. it's processing 2.5 million images. could you please share me the final output details with me. I would be a great help for me. please contact me at muralidare@gmail.com. I am requesting you.

[2020-01-03 07:37] Muralidare commented on #20
finally i got this error.

+++++ Running 7_final_test.py +++++

----- Finding best thresholds -----
WARNING: One of the image directories is empty. Skipping this directory.
WARNING: One of the image directories is empty. Skipping this directory.
WARNING: One of the image directories is empty. Skipping this directory.
WARNING: One of the image directories is empty. Skipping this directory.
WARNING:

[2020-01-03 09:24] Muralidare commented on #20
" WARNING: One of the image directories is empty. Skipping this directory."

Which directory?

[2020-01-03 15:33] JosephDiPalma commented on #20
You can figure out which directory is empty by altering the file `utils_evaluation.py`.  From lines 154-170, there is a `try` and `except` block which produces this warning.  In the `except KeyError` section, you can add another `print()` statement to print the `file` variable from the loop in line 152.

[2020-01-09 15:20] #15 closed

[2020-01-11 23:14] braulioarredondo opened #22 "Validation Confusion Matrix on 3_train.py"
Hi, I have tested the repository for some months ago. I only have 2 different classes of tissues. I started to test the code with only 1 wsi per class. It runs without any inconvenience. Now, I have started to use 20 wsi per class, but at the moment of printing the validation confusion matrix only one class appears, with a result, at the other class only prints 0.00 0.00. I have tried with differe

[2020-01-11 23:27] jasonwei20 commented on #22
You can use ResNet-34 as implemented by default in PyTorch. You can of course use a custom CNN, but that might require modifications to the code :)

I think this is a known issue that someone told me about, but I will default to @JosephDiPalma to help you

[2020-01-11 23:30] JosephDiPalma commented on #22
You will need to pull the latest version of the code for the validation confusion matrix fix.  The old code computed incorrect confusion matrices with more than 10,000 inputs.

[2020-01-12 18:48] braulioarredondo commented on #22
Thank you, Now I can use ResNet-34.

Also, I download the new code version.  The results and accuracy does not change since the first iteration, The only change I see is the learning rate. Insted of 0.00  now is 1.00 in both classes.

I hve read the 3_train.py code and utils_model.py and there is something about the print options.  I am trying but I can not achive to print the correct accuracy and

[2020-01-13 03:19] jasonwei20 opened #23 "Bug in print statements"
In `utils_model.py` i think the logging statement should be
[code]

[2020-01-13 15:59] JosephDiPalma commented on #20
@Muralidare Is this issue still open?

[2020-01-13 16:01] JosephDiPalma commented on #23
@jasonwei20 You are correct.  I'll fix it.

[2020-01-13 16:07] JosephDiPalma commented on #22
@braulioarredondo Can you try to print `train_running_loss` in line 272 of `utils_model.py` and see if it ever changes?

[2020-01-13 16:30] JosephDiPalma commented on #23
@jasonwei20 Fixed in newest commit.

[2020-01-13 16:30] #23 closed

[2020-01-13 19:20] braulioarredondo commented on #22
Hi @JosephDiPalma, I have done it,  I have printed the train_running_loss and the attributes to calculate it (train_loss.item() and  train_inputs.size(0)). But still being not a number. Concretly from the train_loss.item().

![Anotación 2020-01-13 131329](https://user-images.githubusercontent.com/31326976/72284521-c91c4c00-3606-11ea-87c7-95c7e9317d88.png)
![Anotación 2020-01-13 131531](https://use

[2020-01-13 19:22] JosephDiPalma commented on #22
@braulioarredondo Can you send me the print out of the hyperparameters?

[2020-01-13 19:33] braulioarredondo commented on #22
Sure
![Anotación 2020-01-13 132425](https://user-images.githubusercontent.com/31326976/72285721-506abf00-3609-11ea-9c5e-600d924ddfcb.png)

[2020-01-13 19:45] JosephDiPalma commented on #22
@braulioarredondo The problem is that the `path_mean` and `path_std` are 0 for some dimensions.  When the images are being normalized, they are being divided by 0 resulting in `inf`s being present.

[2020-01-13 19:47] #20 closed

[2020-01-14 01:03] braulioarredondo commented on #22
Yes thank's, I used --keep_orig_copy=False, so there was nothing on the wsi folder, that was the reason of the 0's. Now I have a wsi's copy on the all_wsi folder. But  I have a issue that I think is common on pytorch.

![image](https://user-images.githubusercontent.com/31326976/72304661-de10d380-3636-11ea-89ce-80f51d738f75.png)

Did you have a related issue like that? Do you have a recommendation

[2020-01-14 20:20] JosephDiPalma commented on #22
Thanks for figuring out the issue when using `--keep_orig_copy=False`.  I'll fix that in an upcoming version.

I did not have this issue for this code.  Make sure your system isn't running out of RAM, since I've seen this error before in PyTorch when out of memory.

[2020-01-16 03:39] braulioarredondo commented on #22
I have increased the ram, and  there is an improvement. But I think the big change that I had to do was compress more the WSI-jpg image sizes. Now it looks good. Thank you for the help. 👍 :D

[2020-01-16 03:39] #22 closed

[2020-01-20 00:40] jasonwei20 opened #24 "Fixing print statement"
@JosephDiPalma

If I'm not wrong, you need a `\n` after the print statement in `config.py` here:
[code]

[2020-01-20 00:47] JosephDiPalma commented on #24
No `\n` is needed.  I used `chr(10)` which returns the newline character since f-strings don't support a backslash inside them.

[2020-01-21 18:00] jasonwei20 commented on #24
I didn't check but to my knowledge `"x".join(["a", "b", "c"])` returns `axbxc`, so there would be no new line at the end of that line.

Also your f-string on the next line has a backslash?
[code]

[2020-01-21 18:03] JosephDiPalma commented on #24
@jasonwei20 I see what you're saying.  Yes, this is incorrect and there should be a `\n`.  Thanks for finding this.

[2020-01-21 18:12] jasonwei20 opened #25 "Reduce LR on Plateau"
Any chance we can implement this? https://pytorch.org/docs/stable/optim.html#torch.optim.lr_scheduler.ReduceLROnPlateau

Unless the current learning rate decay method works really well in your opinion...

I have also thought seen people start with learning rates of `0.1` or `0.01`, although `0.1` might be too high, any thoughts? Just a suggestion

[2020-01-21 19:58] ntomita commented on #25
Implementation with that scheduler should be quite easy, though I haven't seen much practical advantage over others i.e. exponential decay, as they usually just works. Well, it'd always be great to have an option. You want to implement this @jasonwei20 ?

Regarding an initial learning rate, 0.1 was said to be okay for adagrad or SGD but high for adam, which usually works well with 0.001. However,

[2020-01-25 20:45] jasonwei20 opened #26 "The weird `acinar/acinar/asdf.png` convention can be removed"
This is pretty easy to implement and will allow us to get rid of the weird wsi folder conventions:
https://gist.github.com/andrewjong/6b02ff237533b3b2c554701fb53d5c4d

[2020-01-28 18:48] JosephDiPalma commented on #24
@jasonwei20 Fixed.

[2020-01-28 18:48] #24 closed

[2020-02-12 10:41] SoNanm opened #27 "AttributeError: Can't pickle local object 'compute_stats.<locals>.MyDataset'"
Hi Wei!
I am new to deeplearning classification, thank you for your code and explanations, they are very clear to understand. But I kept ran into errors like this:

I could only fix the RuntimeError by adding:
`  if __name__ == '__main__':`
But I cannot fix the

Could you help me with this issue?

[2020-02-12 16:00] JosephDiPalma commented on #27
@SoNanm Try setting `num_workers=0` in line `99` of `compute_stats.py`.

[2020-02-13 05:44] SoNanm commented on #27
Thank you so much, that fixed the problem.

[2020-02-13 20:56] JosephDiPalma commented on #27
@SoNanm The `num_workers` option controls the number of processes created. By setting it to `0`, only one process is used for both running the code and the dataloading. In Windows, setting `num_workers` to something other than 0 usually causes the errors above.

[2020-02-14 18:37] #27 closed

[2020-02-21 07:09] RajatGarg45 opened #28 "FileNotFoundError: [WinError 3]"
I am using windows 10, xenon processor, 64GB RAM, Quadro P4000 Graphics and cloned this repository in conda environment created for Pytorch especially.

When I run the 1_split.py file, I get following  error:

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'all_wsi'

Where do I need to store the wsi data? I can't get it.

[2020-02-21 07:51] #28 closed

[2020-02-21 11:33] RajatGarg45 commented on #3
I have an error saying -
SyntaxError: not an FPX file; bad root CLSID

I have my dataset in tiff file format. Do I need to convert my dataset in CFX file format? Please suggest a work around.

[2020-03-17 14:06] #26 closed

[2020-04-20 09:07] LiesMH opened #29 "Newer scipy versions: cannot import name 'imsave' from 'scipy' (in preprocessing script 2)"
The z_preprocessing 2. svs_to_jpeg_tiles.py code is not working with the newer versions of scipy. When they updated to scipy 1.2.0 (now 1.4.0) scipy.misc.imsave was removed. Maybe it could be fixed by using imageio.imwrite instead?

Raises error in line 8 of the script:

Traceback (most recent call last):
  File "<pyshell#44>", line 1, in <module>
    from scipy import imsave
ImportError: cannot i

[2020-04-20 12:59] JosephDiPalma commented on #29
Fixed in newest commit.

[2020-04-20 12:59] #29 closed

[2020-08-01 09:22] mofatuzi opened #30 "About running code from 1st one, I got a problem."
Hi,
I am trying to go through the codes, and try it using my wsi images.
But when I input my wsi folder path and run 1_split.py just like:
`python code/1_split.py --all_wsi deepslide-master\HE_datasets --val_wsi_per_class 10 --test_wsi_per_class 20 `
the result is:
![-4bvoQ5-4ke9ZsT3cS1kw-na](https://user-images.githubusercontent.com/67407649/89098496-ce15e100-d41a-11ea-88c8-dd0bfae880dd.png)
It a

[2020-08-01 19:27] JosephDiPalma commented on #30
@mofatuzi Can you send me the configuration print out that should have been displayed before this error?

[2020-08-02 13:36] mofatuzi commented on #30
`# gd @ RMBP in ~/Documents/pyfile on git:master x [21:20:53]
$ python he/deepslide-master/code/1_split.py --all_wsi /Users/gd/Documents/pyfile/he/deepslide-master/HE_datasets --val_wsi_per_class 10 --test_wsi_per_class 20###############     CONFIGURATION     ###############all_wsi:        /Users/gd/Documents/pyfile/he/deepslide-master/HE_datasetsval_wsi_per_class:      10test_wsi_per_class:     2

[2020-08-02 15:38] JosephDiPalma commented on #30
@mofatuzi The problem is that you stored the data in the same directory as the splits.  Organize your directories as follows:
[code]

[2020-08-03 01:17] mofatuzi commented on #30
@JosephDiPalma  I thought that folders 'wsi_train, wsi_val, wsi_test' are automatically created by the code, is that right?
Now, there are some wsi images which classed by folder high_cj and low_cj that under all_wsi.
You mean I should creat empty "wsi_train" folder and (high_cj and low_cj) folders  in it , and empty "wsi_val" .......  manually by my self?
Or I should input parameters (paths of "w

[2020-08-03 01:52] mofatuzi commented on #30
I try to input the path of folder manually created.
But it still have an error. I changed my computer, the path may different.

`# gd @ gd-c8 in ~/git-learn/deepslide on git:master x [9:35:21] C:2
$ python try/code/1_split.py --all_wsi try/all_wsi --wsi_train try/wsi_train --wsi_val try/wsi_val --wsi_test try/wsi_test --val_wsi_per_class 10 --test_wsi_per_class 20
###############     CONFIGURATION

[2020-08-06 03:44] wangtaoknight opened #31 "question about method"
First, thanks for your hard work and share the entire code on github. I was just begain to studing this process and gain mauch from your work!
I tried to run your code. I see that you don't use the labeling information of the lesion. You are using WSI_ Is every patch defined as tumor? But tumor_ Most WSI are normal tissues. Is that what you do?

[2020-08-08 16:29] JosephDiPalma commented on #30
@mofatuzi I organized my directories as follows:
[code]

Now if you run `python code/1_split.py` the dataset should be split as desired.

[2020-08-08 16:32] JosephDiPalma commented on #31
@wangtaoknight
We are not using the WSI in the dataset in the paper.  The pathologists provided us with annotated regions consisting only of the tissues.  The `WSI` labelling throughout the code is not entirely accurate for the case presented in the paper.  But, this code can still be used for tissues or even whole slides and achieve good performance.

[2020-08-10 06:59] mofatuzi commented on #30
@JosephDiPalma Thanks a lot! It works.
I will try to run the code on my data.
After running all the steps, which step should I run for predicting  another similar dataset using the same model?

[2020-08-10 13:04] JosephDiPalma commented on #30
@mofatuzi
To predict on another dataset, perform the following steps:
1. The other dataset should have the same classes otherwise using the same model will not work.
2. Run `python code/1_split.py` and `python code/2_process_patches.py` to make the new dataset have the correct format.
3. Lastly run `python code/7_final_test.py` to view the final results on the new data.  You could also run the 5th

[2020-08-11 03:25] mofatuzi commented on #30
@JosephDiPalma
There is another question.

The code have already ran for my data. My data have two classes by animal: Pulmonary Fibrosis tissues which is infected by virus and normal tissues  which is control.
Pulmonary Fibrosis tissues can be indentified by the code, but the normal tissue of lungs can not be  regnized. The Visualization images show only some dots on the abnormal area of normal ti

[2020-08-15 14:55] JosephDiPalma commented on #30
@mofatuzi The code can find both abnormal and normal classes.  The original dataset for the paper this code was used in had annotations for each class.  It would likely help if you annotated your slides, but we've also used this model without annotations successfully.

[2020-08-16 11:34] wangtaoknight commented on #31
Oh, I got it.  thanks for your reply.

[2020-08-16 11:34] #31 closed

[2020-08-17 14:11] mofatuzi commented on #30
@JosephDiPalma
I am still confusing about the class.
How can I separate all the wsi images into different classes?
Because every wsi image contains some kinds of diseased tissues, just like your wsi contains lepidic, acinar, papillary in one wsi, which class subfolder (named by disease，annotation) should I put the image in?
Or it doesn't matter what kind annotation of folder name. Only thing I nee

[2020-09-18 16:18] #30 closed

[2020-12-18 04:33] keyboardmilk opened #32 "Question about path_mean and path_std"

[2020-12-18 04:33] #32 closed

[2020-12-18 04:39] keyboardmilk opened #33 "Question about path_mean and path_std"
Hello! Thanks for your code! But I've been meeting  a confusing  problem about path_mean and path_std. In the training process, I noticed the values of path_mean and path_std were confusing, but the model could still be trained but very slowly. What's wrong with it?  I'd appreciate it if you could help me! Thank you!

`path_mean:	[-4.436188726613424e-32, 3.0744488307286487e-41, -4.436184024636021e

[2020-12-18 13:39] JosephDiPalma commented on #33
The path_mean and path_std are definitely a problem. Based on the numbers you provided, I think the directory `all_wsi` is empty.  Can you tell me how you have your files stored in the code directory?

[2020-12-19 08:08] keyboardmilk commented on #33
Thanks for your reply! I checked the format of my images, they are 'PNG'! I made some adjustments and now it looks good! Thanks for your help!
But when I ran the '3_train.py', another problem of the confusing matrix came out. I don't know what goes wrong.

`AttributeError: 'Styler' object has no attribute 'hide_index'`

`Traceback (most recent call last):
  File "3_train.py", line 28, in <module>

[2020-12-20 14:44] JosephDiPalma commented on #33
Can you provide a list of the installed Python packages and their versions?  This appears to be a problem with the version you have installed.

[2020-12-20 14:59] keyboardmilk commented on #33
Sure!
`# Name                    Version
_libgcc_mutex             0.1
absl-py                   0.11.0
aiohttp                   3.7.3
async-timeout             3.0.1
attrs                     20.3.0
blas                      1.0
blinker                   1.4
brotlipy                  0.7.0
c-ares                    1.17.1
ca-certificates           2020.12.8
cachetools                4.2.0
certif

[2020-12-20 15:12] JosephDiPalma commented on #33
The issue is with your pandas version.  The hide_index() method requires version 0.23.0 or newer.  Alternatively, you could comment out the hide_index() line if you don't want to upgrade.

[2020-12-21 11:57] keyboardmilk commented on #33
It now works well! Thank you! I really appreciate your help!

[2020-12-21 11:57] #33 closed

[2021-02-17 12:02] cl2227619761 opened #34 "could you please share your data with me? thank you!"

[2021-02-17 14:25] saeedhassanpour commented on #34
https://bmirds.github.io/LungCancer

[2021-02-17 14:25] #34 closed

[2021-05-27 05:48] luciantunez opened #35 "pretrained model"
Hello and thank you for sharing your work!
Could you please provide the last checkpoint for the pretrained model?
Thank you in advance, Lucia

[2021-06-09 12:35] GeorgeBatch opened #36 "inference instructions; pretrained weights (see https://github.com/BMIRDS/deepslide/issues/35)"
Hello!

Thank you for making this repository! Do you think you could provide more detailed instructions on how to run the inference? I found the instructions here https://github.com/BMIRDS/deepslide#4-testing-on-wsi a bit too concise. In particular, I wanted to try running the inference step on one WSI from the dataset to see that everything works with my software/hardware combination.

I would re

[2021-06-09 15:42] JosephDiPalma commented on #35
@luciantunez We currently are unable to share the pre-trained model weights publicly. Any changes to this decision will be reflected in an update on the README.

[2021-06-09 15:42] #35 closed

[2021-07-22 13:52] chenqz1998 opened #37 "About Dartmouth Lung Cancer Histology Dataset"
I downloaded the dataset but failed to find out the annotations. There is only whole-slide image (WSI) without annotations. How could I get the annotations made by pathologists?

[2021-07-22 14:06] JosephDiPalma commented on #36
We currently are unable to share the pre-trained model weights publicly. Any potential changes to this decision will be reflected in an update on the README, should they happen.

[2021-07-22 14:06] #36 closed

[2021-07-22 14:09] GeorgeBatch commented on #37
The WSI-level annotations are in the `MetaData_Release_1.0.csv` file. The `Class` column specifies WSI's predominant pattern.

[2021-07-22 14:14] JosephDiPalma commented on #37
@GeorgeBatch You are correct that the wsi-level annotations are in the csv file.

@chenqz1998 The pathologists did not provide annotations for the test set, but rather a slide-level class. We only have annotations for the training and validation sets, but we cannot make those datasets public at this time.

[2021-07-22 14:19] GeorgeBatch commented on #37
@JosephDiPalma Do you think you can make the train and validation sets available on a per-request basis like the test set? Maybe it can include more questions, or even an official request from a research group so there is more accountability in terms of what happens to the data?

[2021-07-22 14:20] JosephDiPalma commented on #37
@GeorgeBatch I don't know but I can definitely check. It would depend on the privacy restrictions put forth by our institution.

[2021-07-22 14:25] GeorgeBatch commented on #37
@JosephDiPalma Thank you very much! It will be very helpful! Please let me know when you have an answer.

[2021-07-22 15:22] chenqz1998 commented on #37
I see. Yes, I know there is WSI-level class annotation provided in `MetaData_Release_1.0.csv` file. But I wanna know the **area annotation** (e.g. the area provided in **Fig.4** in the paper "Pathologist-level classification of histologic patterns on resected lung adenocarcinoma slides with deep neural networks") to train and tese the model for detection.

[2021-07-22 16:11] ntomita commented on #37
@chenqz1998 The ROI annotations presented in the figure are only available for the selected slides in the test set as it is meant for visualization and error analysis; thus it is not part of the dataset.

[2021-07-22 16:11] #37 closed

[2021-08-24 19:29] websterlincoln opened #38 "ZeroDivisionError: float division by zero"
[code]

You may need to fix division occuring in utils_processing.py", line 107

[2021-08-24 19:31] #38 closed

[2021-08-24 20:47] websterlincoln commented on #38
I guess the prroblem was the script stop rurnning, so one of the folders was empty. I guess you could implement a check to see if the folders have images

[2021-09-22 15:34] gabrieldernbach opened #39 "Model checkpoints"
I know your patient data is sensitive and not so easy to share. Would you be willing to share a model checkpoint? (With mean/std normalization)

[2021-09-22 15:51] JosephDiPalma commented on #39
See #36 and #35.

[2021-09-22 15:51] #39 closed

[2021-10-22 19:52] MohamedOmar2020 opened #40 "Data Preprocessing error"
Hi Guys, thank you for making this wonderful resource available.
I organized my slides into wsi_train, wsi_val, wsi_test using 1_split.py which ran fine. However I keep getting this error when I run _code/2_process_patches.py_:

[code]

These are the packages in my conda env:
_libgcc_mutex             0.1                        main    conda-forge
_tflow_select             2.3.0

[2021-10-28 11:24] enochsol opened #41 "Crop the WSI"
Before the Pathologists annotate the crops, how did you crop the whole slide image? Is there any tool used?

[2021-10-30 02:06] enochsol commented on #41
Thank you so much! That would help.

For example, if I have just 3 slides and 2 labels(tumor and benign):
slide 1 has 10 annotations (5 tumor and 5 benign)
slide 2 has 8 annotations (5 tumor and 3 benign)
slide 3 has 6 annotations (5 tumor and 1 benign)

Then finally I will have 10+8+6 (24 (do we call it as a patches? )) training dataset with 15 tumor and 9 benign classes, is that the right assump

[2021-11-01 18:51] JosephDiPalma commented on #41
You wouldn't have 24 patches, but rather 24 annotations.

Once you have the annotated regions, you can convert them into patches using the file `2_process_patches.py`.

[2021-11-01 19:02] enochsol commented on #41
Now it is getting more clear.
Thus, the steps would be:
1. Convert the slides to annotated images (it will removes uninterested areas from the slide and keep save the annotations as own images)
2. Then convert the annotated images to patches (like 256 by 256 pixel) since the annotated images still might be in a high resolutions (like thousands by thousands). For this step we may use 2_process_patc

[2021-11-01 19:07] JosephDiPalma commented on #41
That is correct.

[2021-11-01 19:14] enochsol commented on #41
Thank you so much!! Crystal clear :)

[2021-11-05 14:06] Tejussurendran commented on #40
@MohamedOmar2020 I am getting the same error that you had, by any chance did you find a resolution to the problem? Also are you trying to use .svs files?

[2021-11-05 14:08] JosephDiPalma commented on #40
@Tejussurendran @MohamedOmar2020 Would either of you be able to provide an image that allows me to reproduce this error?

[2021-11-05 14:27] Tejussurendran commented on #40
@JosephDiPalma I am trying to use a .svs file, and it appears that svs files are not supported by imread(), however I am not sure if you have any workarounds for this.
Also I tried to provide an image however, github said it was a file type they didnt support.

[2021-11-05 14:50] JosephDiPalma commented on #40
@Tejussurendran You can fix this issue in 2 ways:

1. Convert all the svs files to png, jpg, or another supported format.
2. Replace lines [363-364](https://github.com/BMIRDS/deepslide/blob/6b2a8e3deda8f7a6540d082de9bcbc6726658bd4/code/utils_processing.py#L363) in `code/utils_processing.py` as follows:

[code]

Also, you will need to have the [OpenSlide Python](https://openslide.org/api/python/#)

[2021-11-05 15:02] Tejussurendran commented on #40
@JosephDiPalma Thank you very much for your help!

It is currently running without an issue(hopefully!), and I will let you know the outcome of my attempt.

Thank you once again for making this platform available to use!

[2021-11-05 15:21] JosephDiPalma commented on #40
@Tejussurendran Can you upload the problematic svs file to this dropbox link (https://www.dropbox.com/request/W5tcTkohyOaRocaO8AAr)?

[2021-11-06 03:43] Tejussurendran commented on #40
@JosephDiPalma it appears that at the process step, the process keeps being killed after a specific svs. There is no error being thrown however. Any ideas as to why?

[2021-11-08 14:25] Tejussurendran commented on #40
@JosephDiPalma I tried doing the 2_processing step over the weekend, and it appeared to keep getting killed, regardless of it was a validation training or testing.

[2021-11-08 16:12] JosephDiPalma commented on #40
@Tejussurendran The process is likely being killed due to insufficient RAM.

Try changing the [`num_workers`](https://github.com/BMIRDS/deepslide/blob/6b2a8e3deda8f7a6540d082de9bcbc6726658bd4/code/config.py#L56-L59) parameter in `config.py` to something smaller and see if that helps.

[2021-11-08 16:12] JosephDiPalma commented on #40
@Tejussurendran The process is likely being killed due to insufficient RAM.

Try changing the [`num_workers`](https://github.com/BMIRDS/deepslide/blob/6b2a8e3deda8f7a6540d082de9bcbc6726658bd4/code/config.py#L56-L59) parameter in `config.py` to something smaller and see if that helps.

[2021-11-08 16:32] Tejussurendran commented on #40
@JosephDiPalma I think I have solved that issue, thank you!

However it appears that when trying to generate the validation evaluation patches it is throwing an error.

I have attached a copy of it below

![conda error](https://user-images.githubusercontent.com/10180448/140780960-cd908f3f-fc06-41ee-841d-de3a4d412866.png)
.

[2021-11-08 16:42] JosephDiPalma commented on #40
@Tejussurendran Does it work for the other sets?
If it does, then one of the images in your validation set is probably corrupted.

[2021-11-08 16:44] Tejussurendran commented on #40
@JosephDiPalma It works on the validation set, and I am trying it out on the training set currently. On the testing set it had the same issues as the validation evaluation set.

[2021-11-09 14:41] Tejussurendran commented on #40
@JosephDiPalma i tried setting the num_workers variable to 1 and it the program is still being killed. Is there a bigger underlying issue that maybe causing this to happen? This is occurring with all 3 sets being validation testing and training.

[2021-11-09 14:45] JosephDiPalma commented on #40
@Tejussurendran I believe the underlying issue is that you don't have enough system memory.
How much memory do you have, and what is the size of your images?

[2021-11-09 14:48] Tejussurendran commented on #40
@JosephDiPalma I am sshing on to a workstation with 256 gb of ram. I have also uploaded one of the sample images to your dropbox link from earlier. They are only a couple hundred kilobytes

[2021-11-09 14:51] JosephDiPalma commented on #40
@Tejussurendran That should be more than enough memory.
I'm not sure what the issue is now, so give me some time to test the code using the sample image.

Can you also provide the Python package names, including versions, to us for debugging?

[2021-11-09 14:58] Tejussurendran commented on #40
@JosephDiPalma Thank you very much for your help! With regards to the  issue, it is not consistent on where it is killed, sometimes it is 5 images, sometimes 1 etc..

Also for the python package names, I am not sure how to find the version number, however I have attached the packages being used in utils_processing.py

From what I understand it should be the same packages as those provided.

import

[2021-11-09 15:04] Tejussurendran commented on #40
@JosephDiPalma Also, I am not sure if this will help with solving the issue, but I am also trying to save the images as png.

[2021-11-09 19:18] ntomita commented on #40
@Tejussurendran Could you give us the output of `pip list` and `conda list`?

I checked your image in our dropbox. It is an image patch. Is this your input? This library assumes you feed a large slide image file as input, usually a few gigabytes file in the preprocess stage.

[2021-11-09 19:22] Tejussurendran commented on #40
pip list:

cycler            0.11.0
imageio           2.10.1
kiwisolver        1.3.2
matplotlib        3.4.3
networkx          2.6.3
numpy             1.21.3
opencv-python     4.5.4.58
openslide-python  1.1.2
pandas            1.3.4
Pillow            8.4.0
pip               21.3.1
pydicom           2.2.2
pyparsing         3.0.4
python-dateutil   2.8.2
pytz              2021.3
PyWavelets        1.1

[2021-11-09 21:40] JosephDiPalma commented on #40
@Tejussurendran Using the provided svs file, the code ran successfully for us.
Could you provide some details on the directory structure of the code and your data?

[2021-11-09 21:46] Tejussurendran commented on #40
@JosephDiPalma I have a folder one large folder containing all my work for this project. In it I have a folder for the svs files, structures with Has_Diabetes and Not_Has_Diabetes. The patches are depending on the type, are stored in independent folders as well.

I also noticed that with num_workers = 8, the job was killed due to ram consumption. So I tried 4 and it appears that the same issue hap

[2021-11-10 14:33] Tejussurendran commented on #40
@JosephDiPalma Hi, I was wondering what the directory difference between the validation set and validation evaluation set were as, I am trying to develop the patches externally and use them in deepslide. What is the difference between the 2 folders?

[2021-11-11 14:27] Tejussurendran commented on #40
@JosephDiPalma I was wondering if there is any way to reduce the memory consumption of the preprocessing step?

[2021-11-12 16:48] JosephDiPalma commented on #40
@Tejussurendran You can reduce the memory consumption of the pre-processing step by reducing the `num_workers` setting further, or downsampling your slides prior to processing.

[2021-11-22 14:30] Tejussurendran opened #43 "Training Issues"
@JosephDiPalma I was trying to train my model, however every time I attempt to train it, it appears to think that all the data is of the same class type. I am not sure why this is occurring however I have tried training and testing numerous times and it is the same result every time. Along with that I am not able to generate a confidence value either.

Any ideas as to why this may be happening?

T

[2021-11-29 19:57] JosephDiPalma commented on #43
@Tejussurendran Could you please provide the data directory structure?
Also, did you generate the directories using our code, or separately?

[2022-01-20 01:56] #40 closed

[2022-01-25 20:17] enochsol commented on #41
What are the steps for model validation?

And also how is the visualization? Patch level or Slide level visualization?

[2022-01-25 22:45] JosephDiPalma commented on #41
If by model validation, you mean producing outputs for an unseen dataset (i.e., a test set), we recommend following the instructions on the [Section 4](https://github.com/BMIRDS/deepslide#4-testing-on-wsi) of the README.

We create the visualization at the patch-level because the model operates on patches. However, our visualization code combines the outputs over all patches and plots them at the

[2022-01-25 23:25] enochsol commented on #41
Thank you!

How it is combining and draw the bounding box around?

[2022-01-26 16:46] JosephDiPalma commented on #41
We don't actually plot the bounding boxes on each patch individually and then combine them. As we are using a sliding window approach, we take the entire slide and use indexing to pass in the patches to the network. Then we draw the bounding boxes on the slide corresponding to the predicted class. See [Line 286](https://github.com/BMIRDS/deepslide/blob/74616480decb714e988e642871a42a018b744695/code

[2022-01-26 22:54] enochsol commented on #41
Thank you so much!

What meant by "a sliding window approach"? Please could you compare it with the below approach?

Based on our pervious discussion:
the steps to get patches would be:

1. Crop the annotated images part from the whole slide (it will removes uninterested areas from the slide and save the annotated parts as their own images)
2. Then convert the annotated images to patches (like 256

[2022-01-27 17:29] enochsol commented on #41
Thank you so much!!

[2022-01-27 17:29] #41 closed

[2022-01-29 04:01] SebliLo opened #44 "Data size"
1. For each classes (Lepidic, Acinar, Papillary, Micropapillary, Solid and Benign), how many patches you used for training?
2. In your paper it says "For the training set, pathologists annotated 4,161 crops from 245 images, about 17 crops per image. These rectangular crops varied in size (mean: 718×771 pixels, standard deviation: 645×701 pixels, median: 429×473 pixels)"  How the crops shape would

[2022-02-02 02:27] henokhope2 commented on #44
Could you explain me the purpose of (mean: 718×771 pixels, standard deviation: 645×701 pixels, median: 429×473 pixels)?

The other question, what is the difference between scanning the slides with 20X magnification verses 40x?

Thank you again!!

[2022-02-04 20:20] SebliLo commented on #44
Lepidic has 515 crops, Acinar has 691 crops,... approximately how many patches per the crop?  Did you disregard some patches from the crop?

I would expect the pathologists annotated crops shape would be some kind of circular shape, but the shape of patches would be rectangular. Probably I may get confused with the terms.  Please clarify and confirm. WSI --> Annotated Crops --> Patches.
What does

[2022-02-06 01:51] #43 closed

[2022-02-06 02:49] SebliLo opened #45 "2_process_patches.py"
Please see the output of 1_split.py and 2_process_patches.py
The first step looks fine, but the second throws an error (IndexError: list index out of range), and also it creates 0 patches ( that might be the cause for the error). Please how can we fix it?

"finished patches from wsi_train/benign with inverse overlap factor 108.81 in 1.98 seconds outputting in train_folder/train/benign for 0 patche

[2022-02-06 15:51] JosephDiPalma commented on #45
@SebliLo I agree that the 0 patches is an issue and may be the source of the error. What is the structure of the directory containing the source files?

[2022-02-06 16:29] SebliLo commented on #45
├── all_wsi
│   ├── benign
│   ├── tumor
├── code
│  ***

[2022-02-06 16:54] JosephDiPalma commented on #45
@SebliLo Try changing the `num_train_per_class` setting to a smaller value.

[2022-02-07 01:05] SebliLo commented on #45
@JosephDiPalma  Thank you so much for your suggestion. But with different  values it didn't work. Thus, increased the data size from 50 to 1000 for each class. Now it started training.
Highly appreciated your support

[2022-02-07 01:05] #45 closed

[2022-02-07 02:43] SebliLo opened #46 "3_train.py"
It seems the network is not learning, just 0.5 for both training and validation accuracies.
The same dataset with other network provides .85 accuracy.
What would be your suggestion?

###############     CONFIGURATION     ###############
all_wsi:	all_wsi
val_wsi_per_class:	20
test_wsi_per_class:	30
keep_orig_copy:	True
num_workers:	8
patch_size:	224
wsi_train:	wsi_train
wsi_val:	wsi_val
wsi_test:	w

[2022-02-07 15:29] SebliLo opened #47 "4_test.py"
When I run 4_test.py, it throws an error: ValueError: max() arg is an empty sequence.
What would be your suggestion?

###############     CONFIGURATION     ###############
all_wsi:	all_wsi
val_wsi_per_class:	20
test_wsi_per_class:	30
keep_orig_copy:	True
num_workers:	8
patch_size:	224
wsi_train:	wsi_train
wsi_val:	wsi_val
wsi_test:	wsi_test
labels_train:	labels_train.csv
labels_val:	labels_val.csv

[2022-02-11 18:24] JosephDiPalma commented on #44
The approximate number of patches per crop can vary widely as the annotated regions in each slide are different. We only removed patches consisting of mostly white space background. All other patches were kept.

Your understanding of the steps is correct.

This means that the on average the mean height and width of an annotated region is 718 and 771 pixels respectively. The same logic follows for

[2022-02-11 18:25] JosephDiPalma commented on #46
There is something wrong with your input data. The values of `path_mean` and `path_std` are incorrect and are causing this problem.

[2022-02-11 18:27] JosephDiPalma commented on #47
I believe this is a side effect of the problem raised in issue #46. Once that issue is fixed, please try running this code again.

[2022-02-11 18:27] SebliLo commented on #44
Thank you so much!!

[2022-02-11 18:27] #44 closed

[2022-02-11 22:24] SebliLo commented on #46
@JosephDiPalma  thank you for the input!
The value of path_mean and path_std are slide or patch level?  How I fix it?
The input data seems working on another neural network, I tried outside of this.

[2022-02-11 22:26] JosephDiPalma commented on #46
@SebliLo Do you have access to the per-channel mean and standard deviation for your current dataset? If so, I can show you how to modify our code to use those values instead of computing them again.

[2022-02-15 02:41] SebliLo commented on #46
@JosephDiPalma  No, I don't.
The issue occurred because of the number of patches is low, about 1000 each for 2 classes? Have you tried with such a small dataset?

[2022-02-15 11:40] SebliLo commented on #46
This is how I normalize the pixel values.

images = np.array(images)
images = images.astype('float32') / 255.0
train_mean = np.mean(images, axis=0)
train_std = np.std(images, axis=0)
images = (images - train_mean) / train_std
images, labels = shuffle(images, labels, random_state=1)

[2022-02-16 23:07] JosephDiPalma commented on #46
Change the lines 368-369 in `config.py` to the following:
[code]
Now the code will use these values for mean and standard deviation.

[2022-02-17 03:25] SebliLo commented on #46
Thank you for the suggestion. I updated the path_mean and path_std.  Do you see any issue?

+++++ Running 3_train.py +++++
2 classes: ['benign', 'tumor']
num train images 1056
num val images 48
CUDA is_available: False
train_folder: train_folder
num_epochs: 20
num_layers: 18
learning_rate: 0.001
batch_size: 16
weight_decay: 0.0001
learning_rate_decay: 0.85
resume_checkpoint: False
resume_checkpoin

[2022-02-17 03:28] SebliLo commented on #47
After fixing issue #46, running the test gives the same issue.

###############     CONFIGURATION     ###############
all_wsi:	all_wsi
val_wsi_per_class:	20
test_wsi_per_class:	30
keep_orig_copy:	True
num_workers:	8
patch_size:	224
wsi_train:	wsi_train
wsi_val:	wsi_val
wsi_test:	wsi_test
labels_train:	labels_train.csv
labels_val:	labels_val.csv
labels_test:	labels_test.csv
train_folder:	train_fold

[2022-02-17 17:02] JosephDiPalma commented on #46
The training looks fine now.

[2022-02-17 18:19] ntomita commented on #47
The traceback point corresponds to a snapshot selection. Could you double check that your checkpoints folder has N+1 snapshot files where N is the number of epochs you trained, and each file contains validation performance string?

[2022-02-17 23:02] SebliLo commented on #47
checkpoints folder has only 20 file which is the default number of epochs

[2022-02-18 01:22] SebliLo commented on #47
I copy/paste one of the existing file from/to the checkpoints folder to make the number of file N+1. But still the same issue.

+++++ Running 4_test.py +++++

----- Finding validation patch predictions -----
Traceback (most recent call last):
  File "code/4_test.py", line 21, in <module>
    pretrain=config.args.pretrain)
  File "/home/SebliLo/deepslide/code/utils_model.py", line 564, in get_predi

[2022-02-18 20:41] JosephDiPalma commented on #47
Can you provide the name of one of the checkpoint files in that folder?

[2022-02-18 20:44] SebliLo commented on #47
Please see all. I added manually the one in bold.

resnet18_e0_va0.75000.pt   resnet18_e12_va0.85000.pt  resnet18_e15_va1.00000.pt  resnet18_e18_va0.95000.pt  **resnet18_e20_va0.90000.pt**  resnet18_e4_va0.52500.pt  resnet18_e7_va0.50000.pt
resnet18_e10_va0.50000.pt  resnet18_e13_va0.95000.pt  resnet18_e16_va0.77500.pt  resnet18_e19_va0.90000.pt  resnet18_e2_va0.95000.pt   resnet18_e5_va0.60000.pt

[2022-02-18 20:54] JosephDiPalma commented on #47
In `utils_model.py` can you add the following code above line `530` in the `get_best_model()` function:
[code]

[2022-02-18 22:17] SebliLo commented on #47
It is empty
[]

[2022-02-18 22:18] JosephDiPalma commented on #47
This means that your checkpoint folder is empty. Can you provide the directory structure of the project?

[2022-02-18 22:27] SebliLo commented on #47
(ds) [SebliLo@tesla deepslide]$ ll
total 148
drwxrwxr-x.  4 SebliLo SebliLo  4096 Feb  6 19:42 all_wsi
drwxrwxr-x.  2 SebliLo SebliLo  4096 Feb 17 20:16 checkpoints
drwxrwxr-x.  7 SebliLo SebliLo  4096 Feb 18 17:17 code
drwxrwxr-x.  2 SebliLo SebliLo  4096 Feb  3 21:22 figures
drwxrwxr-x.  2 SebliLo SebliLo  4096 Feb  3 21:22 LICENSE
drwxrwxr-x.  2 SebliLo SebliLo  4096 Feb  3 21:22 README.md
-rw-

[2022-02-18 22:28] SebliLo commented on #47
And dataset  and deepslide folders are in the same directory.

[2022-02-21 17:57] JosephDiPalma commented on #47
Just to confirm, the checkpoints you provided in a prior reply are located in the `checkpoints` folder?

[2022-02-21 18:01] SebliLo commented on #47
Yes it is

[2022-02-21 18:02] JosephDiPalma commented on #47
How are you running the file `4_test.py`? Specifically, the python command and the directory in which you're running it.

[2022-02-21 18:07] SebliLo commented on #47
From the "deepslide" directory (the same directory I ran the previous steps), I ran "python code/4_test.py"

[2022-02-21 18:08] JosephDiPalma commented on #47
Can you try running it from within the `code` directory?

[2022-02-21 18:16] SebliLo commented on #47
It is finding the all_wsi

(py3) [SebliLo@tesla code]$ python 4_test.py
Traceback (most recent call last):
  File "4_test.py", line 1, in <module>
    import config
  File "/home/SebliLo/deepslide/code/config.py", line 360, in <module>
    classes = get_classes(folder=args.all_wsi)
  File "/home/SebliLo/deepslide/code/utils.py", line 26, in get_classes
    return sorted([f.name for f in folder.ite

[2022-02-21 18:17] JosephDiPalma commented on #47
Could you provide us with your python environment setup?

[2022-02-21 18:22] SebliLo commented on #47
(py3) [SebliLo@tesla deepslide]$ conda list
# packages in environment at /home/SebliLo/anaconda3/envs/py3:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main
_openmp_mutex             4.5                       1_gnu
blas                      1.0                         mkl    anaconda
ca-certificates           2021.10.26

[2022-02-21 18:49] SebliLo commented on #47
(py3) [SebliLo@tesla deepslide]$ pip list
Package           Version
----------------- ---------
certifi           2020.6.20
cloudpickle       1.6.0
cycler            0.10.0
cytoolz           0.11.0
dask              2.30.0
dataclasses       0.8
decorator         4.4.2
imageio           2.9.0
Jinja2            3.0.2
joblib            0.17.0
kiwisolver        1.2.0
MarkupSafe        2.0.1
matplotlib

[2022-02-21 18:57] JosephDiPalma commented on #47
We've identified the issue and a fix will be merged into the master branch soon. Thanks for bringing this to our attention.

[2022-02-21 19:04] SebliLo commented on #47
Thank you so much for assistance!!

[2022-02-22 04:13] SebliLo commented on #47
Thank you! The issue is resolved

[2022-02-22 04:13] #47 closed

[2022-02-22 04:14] SebliLo commented on #46
Thank you for your help.

[2022-02-22 04:14] #46 closed

[2022-02-22 04:21] SebliLo opened #49 "6_visualize.py"
I am running the code in CentOS Linux 7 which is based on RHEL.
How to see the visualization figures like the one you showed in your readme section of "6. Visualization"  Deep Learning Model figures from B.i - B.iv?

py3) [SebliLo@tesla deepslide]$ python code/6_visualize.py
###############     CONFIGURATION     ###############
all_wsi:	all_wsi
val_wsi_per_class:	20
test_wsi_per_class:	30
keep_ori

[2022-02-25 15:28] SebliLo commented on #49
Plus, to get the model annotated visualization figures, my understanding is the input would be the whole slide, right?

[2022-03-03 18:16] SebliLo commented on #49
Or can I manually update the wsi_test and wsi_val folders to have the whole slide images? Currently it looks like wsi_test and  wsi_val have only patches of image

[2022-03-30 03:53] liqiang1102 opened #50 "CUDA_VISIBLE_DEVICES=0 python code/4_test.py --auto_select False"
Hi Thanks,
You did a great pipeline.
Do I missed something, it shows following.
path_mean:	[0.0, 0.0, 0.0]
path_std:	[0.0, 0.0, 0.0]

At the code/3_train.py I have the same mistake, however, I repaste the WSI file to the all_wsi folder (which I previously deleted).
However in this step, it still shows me error.
Thanks, looking forward to hear from you.

(tf2) qiang@Qiang:~/Desktop/pcr/deepslide-ma

[2022-03-30 04:23] liqiang1102 commented on #50
My issue related to this part.
# Compute the mean and standard deviation for the given set of WSI for normalization.
path_mean, path_std = compute_stats(folderpath=args.all_wsi,
                                    image_ext=args.image_ext)

[2022-03-31 18:40] JosephDiPalma commented on #50
@liqiang1102 Can you please provide the directory structure of your data?

[2022-03-31 18:42] JosephDiPalma commented on #49
@SebliLo Currently the code for producing the figures in the paper is unavailable in this repository. To re-create those figures, you would need to write your own function.

[2022-03-31 21:29] liqiang1102 commented on #50
Thank you for reply. i guess there may exist some incontinence. i will double check.

project
├── all_wsi
│   ├── a
│   │   ├── DHMC_0006.tif
│   │   ├── DHMC_0007.tif
│   │   ├── DHMC_0009.tif
│   │   ├── DHMC_0010.tif
│   │   ├── DHMC_0011.tif
│   │   ├── DHMC_0014.tif
│   │   ├── DHMC_0015.tif
│   │   ├── DHMC_0016.tif
│   │   ├── DHMC_0081.tif
│   │   ├── DHMC_0082.tif
│   │   └── DHMC_0095.ti

[2022-04-08 04:49] timofeiryko opened #51 "Integrating my own model"
Hello! I'm just starting to dive into this area, so I apologize in advance for the probably obvious question.

You use ResNet model in your **utils_model.py**. Is it possible to **inegrate my own model into the framework**? I am trying to implement transfer learning for histopathology.

Will the pipeline work ok, if I will just rewtite the **create_model** function?

[2022-04-13 14:42] JosephDiPalma commented on #51
Yes, the pipeline should work if you rewrite the `create_model()` function.

[2022-04-29 14:50] Rukhmini opened #52 "Dataset Download Problem"
Hello,

I am not able to download the dataset. The dataset links are sent as undefined in the mail like below:

DHMC_wsi_1.zip
File size: 16.2 GB
undefined

DHMC_wsi_2.zip
File size: 13.18 GB
undefined

DHMC_wsi_3.zip
File size: 13.96 GB
undefined

DHMC_wsi_4.zip
File size: 6.7 GB
undefined

MetaData_Release_1.0.csv
File size: 48.09 KB
undefined

MD5SUMS.txt
File size: 196 Bytes
undefined

Dataset

[2022-04-29 14:55] ntomita commented on #52
Thanks for reporting. The service is currently under maintenance and thus links are not available right now. We temprarily disabled forms to avoid further confusion.

[2022-04-29 16:00] Rukhmini commented on #52
Thanks for the information. Can you please let me know when the links will be available?

[2022-04-29 16:17] ntomita commented on #52
I will update here for status change.

[2022-04-29 21:03] ntomita commented on #52
@Rukhmini  Links are available again. I'm closing the issue.

[2022-04-29 21:03] #52 closed

[2022-05-23 02:59] hemo0826 opened #53 "3_repiece_jpg_tiles.py how to work?"
hi,What is the function of this document? thank you

[2022-05-23 15:29] JosephDiPalma commented on #53
This code is outdated and should be removed.

What are you trying to use this code for?

[2022-06-08 02:13] #50 closed

[2022-06-08 02:13] #49 closed

[2022-06-21 02:13] #51 closed

[2022-07-31 02:15] #53 closed